@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2c3e50;
    font-family: 'Poppins';
    color: #ecf0f1;
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: #000;
    padding-bottom:20px;
}

section{
    margin-bottom: 40px
}

/* General Style */

.text{
    margin-bottom: 20px;
    line-height: 1.75rem;
    font-size: 1.2rem;
}

.text a{
    color: #e67e22;
    text-decoration: none;
    transition: 0.3s ease all;
}

.text a:hover{
    color: #e67e22;
    text-decoration: underline;
}

.btn{
    display: inline-block;
    color: #ecf0f1;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease all;
}

.btn::after, .btn::before{
    content: '';
    display: block;
    margin: 0 auto;
    width:10px;
    height: 2px;
    background-color:#ecf0f1;
    transition: 0.3s ease all;
}

.btn:hover::after, .btn:hover::before{
    width:100%;
    background-color: #e67e22;
}

.title-1{
    color:#fff;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.2rem;
}

.title-2{
    color:#fff;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 4.2rem;
}

/* End General */

/* Menu */

.main-menu{
    display: flex;
    margin: 20px auto 0;
    gap:60px;
}

.main-menu .logo{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    text-decoration:none;
    color: #fff;
    font-weight: 200;
}

.main-menu .logo i{
    font-size: 3rem;
    margin-right: 10px;
}

.main-menu ul{
    display: flex;
    gap:36px;
    list-style: none;
    align-items: center;
}

.main-menu ul a{
    color: #fff;
    text-decoration: none;
    padding: 20px 0;
    font-weight: bold;
}

.main-menu ul a::after{
    content:'';
    background-color:#fff;
    margin: 0 auto;
    display: block;
    width:10px;
    height: 2px;
    transition: 0.3s ease all;
}

.main-menu ul a:hover::after{
    background-color:#e67e22;
    width:100%;
}

/* Fim do Menu */

/* Intro */

.introduction{
    margin-top: 140px;
}

.socials{
    margin: 40px 0;
}

.socials ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.socials ul a{
    font-size:1.75rem;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
}

.socials ul a::after{
    content:'';
    display: block;
    background-color: #fff;
    width: 10px;
    height: 2px;
    margin: 0 auto;
    transition: 0.3s ease all;
}

.socials ul a:hover::after{
    background-color: #e67e22;
    animation: strech-and-shrink 1.5s infinite;
}

.about-me .my-pic{
    border-radius: 20px;
    width: 100%;
    margin-left: 40px;
}

/* Fim Intro */

/* Porfifólio */

.portifolio .title-1{
    margin: 80px 0;
}

.work{
    margin-bottom: 80px;
}

.work h1{
    margin-bottom: 40px;
}

.work img{
    width: 100%;
    object-fit: cover;
    height:250px;
    margin-bottom:15px;
    border-radius: 10px;
}

.btn-work{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size:1.25rem;
    text-decoration: underline;
    transition: 0.3s ease all;
}

.btn-work:hover{
    text-decoration-color: #e67e22;
}

.btn-work::after{
    content:'\27F6';
    display: inline-block;
    transition: 0.3s ease all;
    margin-left: 10px;
}

.btn-work:hover::after{
    transform: translateX(10px);
    color: #e67e22;
}

/* Fim Portifólio */

/* Trabalhe comigo */

.work-together{
    background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/bg2.gif') no-repeat center center;
    background-size: cover;
    padding:80px 0;
}

.work-together .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Fim trabalhe comigo */

footer{
    text-align: center;
    font-size: 1rem !important;
}

/* keyframes */

@keyframes strech-and-shrink{

    0%{
        width:10px;
    }

    50%{
        width: 100%;
    }

    100%{
        width:10px;
    }

}