@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&family=Work+Sans:wght@900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
.title{
    text-align: center;
    padding:20px 0;
    font-size: 3rem; 
    font-family: 'Work Sans';
    text-transform: uppercase;
}

.subtitle{
    margin-bottom: 20px;
    font-family: 'Work Sans';
    text-transform: uppercase;
}

.div-form{
    padding: 20px 0;
}

.darkModeBtn{
    color:#fff;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.darkModeBtn i{
    padding: 15px 19px;
    border-radius: 50%;
    background-color: #0a0a0a;
    color:#fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}