.card-cor{
    border-radius: 5px;
    height: 140px;
    display: flex;
    align-items: flex-end;


    .text{
        display: flex;
        flex-direction: column;
        background: #efefef;
        width: 100%;
        gap: 0;
    }
}