
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Slab&display=swap');

*{
    margin:0 0 40px 0;
    padding: 0 5%;
}

body{
    background:#2e3131;
    color: #dfdfdf;
    font-family: 'Roboto Slab';
}



.title{
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin: 40px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #dfdfdf;
}

.media-picture{
    background: url('http://www.osmais.com/wallpapers/201505/the-avengers-wallpaper.jpg') no-repeat center top;
    background-size: cover;
    height: 400px;
    margin: 0;
}

.review-score{
    background: #1e824c;
    padding: 20px;
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
}

.subtitle{
    margin-top:40px;
    display: block;   
    font-family: 'Montserrat';
    margin-bottom: 20px;
    padding-bottom: 0px;
    border-bottom: 2px solid #dfdfdf;
}

p{
    line-height: 1.5rem;
}

.btn{
    padding:20px;
    background: #f89406;
    display:inline-block;
    margin-top: 20px;
    text-decoration: none;
    color:#fff;
    margin-left: 5%
}

